# yarn
.yarn/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache

.pnp.*


# editor
.vscode/
.vscode/*
*.code-workspace
.editorconfig

# git ignore
.gitattributes

#node_modules
node_modules/
